* {
    box-sizing: border-box;
}
body {
    font-family: "Lato", sans-serif;
    color: #fcfcfc;
    background-color: crimson;
}
h1 {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 0;
}
div#titleDetails {
    margin-bottom: 2rem;
}
h2 {
    text-align: center;
    font-size: 2rem;

}
div#titleDetails{
    text-align: center;

    font-size: larger;
    font-weight: bold;
}
div.sectionContainer {
    display: flex;
}
div.sectionImage {
    flex: 1

}
div.sectionImage > img {
    max-width: 100%;
    padding: 20px;
}
div.sectionContent {
    flex: 1;
    padding: 20px;
}

